---
title: "Midterm Coding"
subtitle: "STAT 201"
author: "Owen Yan"
format:
  html:
    toc: true
    embed-resources: true
---

### Instructions

1. **Write your name** at the top!
2. Feel free to add additional cells as needed.
3. Write your code in the *Code* cells of the **template provided** to write solutions for the assignment. **Do not open a new notebook**, and work from scratch. Ensure that the solution is written neatly enough to understand and grade.

4. Use [Quarto](https://quarto.org/docs/output-formats/html-basics.html) to print the *.ipynb* file as HTML. You will need to open the terminal, navigate to the directory containing the file, and use the command: `quarto render filename.ipynb --to html`. Submit the HTML file.

5. You are NOT permitted to use AI, internet, or eachother. You can use any amount of physical notes printed/written/typed that you would like.

6. There are point deductions if your code is not clean and organized.

## Question 1: Collecting Even Numbers Until a Target Sum *(4 points)*

Continually **prompt the user** to enter an **even integer between 2 and 20**, inclusive.

- Keep accepting input until the **sum of all valid entries** reaches or exceeds **50**.
- If the input is **outside the range** 2 to 20, display:  
  `"Please enter a number between 2 and 20."`
- If the input is **within the range** but **not even**, display:  
  `"That is not an even integer."`
- Do **not** count invalid inputs toward the total. The program should **keep prompting** until the required condition is met.



Once the program is complete print the following statement only **once**::

                            "You entered {} numbers that sum to {}." 
                                - the first {} is the count of the number of terms entered 
                                - the second {} is the sum of all the terms
    
Run your program with any values until it ends.

In [8]:
even_int=0
count=0
while even_int<=50:
    try:
        num=int(input("Enter a number between 2 and 20"))
        if num<=20 and num>=2 and num%2==0:
            even_int+=num
            count+=1
        elif num<2 or num>20:
            print("Please enter a number between 2 and 20.")
        elif num<=20 and num>=2 and num%2!=0:
            print("That is not an even integer")
    except:
        print("Please enter a number between 2 and 20.")

print(f"You entered {count} numbers that sum to {even_int}")

You entered 3 numbers that sum to 60

## Question 2: Counting Word Occurrences in a Sentence *(4 points)*

#### Task:  
Write a Python function named `count_word_occurrences` that accepts two arguments:  

- **`word`** (a string) – the word to count.  
- **`sentence`** (a string) – the sentence in which to count occurrences of the word.  

The function should return the number of times the **exact word** appears in the sentence, regardless of case. The word should be matched as a **whole word**, not as part of another word (e.g., `"sea"` should **not** be counted in `"seashore"`).  

#### Example Usage:  
Use this function to count the occurrences of the word **"sea"** in the following sentence:  

> `"The seaside town celebrates the sea with a season of seafood festivals by the sea."`

In [107]:
def count_word_occurrences(word, sentence):
    count=0
    word_l=word.lower()
    sentence_l=sentence.lower()
    for i in range(len(sentence_l)-len(word_l)):
        if i!=0 and i!=(len(sentence_l)-len(word_l)):
            if sentence_l[i:i+len(word_l)]==word_l and sentence_l[i-1].isalpha()==False and sentence_l[i+len(word_l)].isalpha()==False:
                count+=1
        elif i==0:
            if sentence_l[i:i+len(word_l)]==word_l and sentence_l[i+len(word_l)].isalpha()==False:
                count+=1
        else:
            if sentence_l[i:i+len(word_l)]==word_l and sentence_l[i-1].isalpha()==False:
                count+=1
    return count
print(count_word_occurrences("sea", "The seaside town celebrates the sea with a season of seafood festivals by the sea."))

2

## Question 3: Working with Python Lists *(4 points)*

Create a list called `my_nums` that contains any 5 numbers of your choice.

Complete the following sequence of tasks **in order**:

- add the numbers 3, 8 and 15 to the end of your list
- insert the number 1 into the **direct middle** of your list
- create a new list called `not_by_3` that is created by iterating through `my_nums` and only including/adding numbers that are NOT divisible by 3
- print your `not_by_3` list

In [19]:
my_nums=[1,2,3,4,5]
#Adds 3,8,15 to the end
my_nums.extend([3,8,15])
#The list ends at index 7, so the middle is exactly index 4.
my_nums.insert(4,1)

not_by_3=list((x for x in my_nums if x%3!=0))
print(not_by_3)

[1, 2, 4, 1, 5, 8]

## Question 4: Categorizing Animals by Habitat Using a Single Loop *(5 points)*

Consider the `animal_habitat` object defined below which contains animals and their corresponding habitats.

In [1]:
animal_habitat = {
    "lion": "savanna",
    "elephant": "savanna",
    "tiger": "forest",
    "penguin": "polar",
    "polar bear": "polar",
    "kangaroo": "grassland",
    "cheetah": "savanna",
    "giraffe": "savanna",
    "wolf": "forest",
    "crocodile": "wetlands",
    "otter": "wetlands",
    "parrot": "rainforest",
    "gorilla": "rainforest",
    "dolphin": "ocean",
    "whale": "ocean",
    "eagle": "mountains",
    "panda": "forest"
}

#### **Instructions:**
Use the dictionary `animal_habitat` to create:

- A **list** of all animals that live in the **savanna** (call it `savanna_animals`).
- A **list** of all animals that live in the **forest** (call it `forest_animals`).
- A **list** of all remaining animals (call it `other_animals`).
- A **dictionary** (call it `habitat_count`) that counts the number of animals in the **savanna**, **forest**, and **other** habitats.

#### **Constraints:**
- This should be done within a **single loop**.
- Initialize `habitat_count` with keys `"savanna"`, `"forest"`, and `"other"`, all starting with a value of `0`.

#### **Hint:**
Use **if-elif-else**  structure inside the loop to classify each animal based on its habitat.

In [26]:
animal_habitat = {
    "lion": "savanna",
    "elephant": "savanna",
    "tiger": "forest",
    "penguin": "polar",
    "polar bear": "polar",
    "kangaroo": "grassland",
    "cheetah": "savanna",
    "giraffe": "savanna",
    "wolf": "forest",
    "crocodile": "wetlands",
    "otter": "wetlands",
    "parrot": "rainforest",
    "gorilla": "rainforest",
    "dolphin": "ocean",
    "whale": "ocean",
    "eagle": "mountains",
    "panda": "forest"
}
savanna_animals=[]
forest_animals=[]
other_animals=[]
habitat_count={"savanna":0, "forest":0, "other":0}
for animal,habitat in animal_habitat.items():
    if habitat=="savanna":
        savanna_animals.append(animal)
        habitat_count["savanna"]+=1
    elif habitat=="forest":
        forest_animals.append(animal)
        habitat_count["forest"]+=1
    else:
        other_animals.append(animal)
        habitat_count["other"]+=1

## Question 5: Movie Profit Analysis *(3 points)*

USA’s GDP per capita from 1960 to 2021 is given by the tuple `T` in the code cell below. The values are arranged in ascending order of the year, i.e., the first value is for 1960, the second value is for 1961, and so on.

In [ ]:
T = (3007, 3067, 3244, 3375,3574, 3828, 4146, 4336, 4696, 5032,5234,5609,6094,6726,7226,7801,8592,9453,10565,11674,12575,13976,14434,15544,17121,18237,19071,20039,21417,22857,23889,24342,25419,26387,27695,28691,29968,31459,32854,34515,36330,37134,37998,39490,41725,44123,46302,48050,48570,47195,48651,50066,51784,53291,55124,56763,57867,59915,62805,65095,63028,69288)

####
Use list comprehension to create a list of the gaps between consecutive entries in `T`, i.e, the increase in GDP per capita with respect to the previous year. The list with gaps should look like: [60, 177, …]. Let the name of this list be `GDP_increase`. (2 points)

In [123]:
T = (3007, 3067, 3244, 3375,3574, 3828, 4146, 4336, 4696, 5032,5234,5609,6094,6726,7226,7801,8592,9453,10565,11674,12575,13976,14434,15544,17121,18237,19071,20039,21417,22857,23889,24342,25419,26387,27695,28691,29968,31459,32854,34515,36330,37134,37998,39490,41725,44123,46302,48050,48570,47195,48651,50066,51784,53291,55124,56763,57867,59915,62805,65095,63028,69288)

GDP_new=T[15:56:5]
print(GDP_new)
GDP_increase = list((T[i] - (T[i-1])) for i in range(1, len(T)))
print(max(GDP_increase))

#Bonus
#1
GDP_increase_big=list(i for i in range(0,len(GDP_increase)-1) if GDP_increase[i]>=1000)
print(len(GDP_increase_big)/len(GDP_increase))
#2
list_years_big=list(year for year,GDP in enumerate(GDP_increase,start=1961) if GDP>=2000)
print(list_years_big)

(7801, 12575, 18237, 23889, 28691, 36330, 44123, 48651, 56763)
6260
0.5081967213114754
[2004, 2005, 2006, 2017, 2018, 2019, 2021]

####
Use `GDP_increase` to find the maximum gap size, i.e, the maximum increase in GDP per capita. (1 point)

In [113]:
tuples=(1,2,3,4)
print(tuples[2:2])

()

## Bonus Points *(3 points)*

####
Use list comprehension with `GDP_increase` to find the percentage of gaps that have size greater than $1000. (1 point)

In [120]:
date=1
month=30
print("dasd adsflkj {}+{}".format(2,date+month))
print("aasdd","d",1+2)

dasd adsflkj 2+31
aasdd d 3

####
Use list comprehension with `GDP_increase` to print the list of years in which the GDP per capita increase was more than $2000. (2 points)

**Hint:** The `enumerate()` function may help.

In [121]:
def test(a,b=2,c=3):
    c=abs(a)+b+c
    return c
print(test(-1,c=1))

4

In [125]:
original_prices=[1.25,-9,10,3,-5,1]
new_prices=[price if price>0 else 0 for price in original_prices]
print(new_prices)

[1.25, 0, 10, 3, 0, 1]